 
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body {
	background-color: #F5F5DC;
}

h1{
	
	color: navy;
	text-align: center
	
}

h2{
	color: navy;
	font-size: 150%;
	text-align: center;
	
}

h3{
	color: navy;
	font-size: 80%;
	text-align: center;
	font-weight: bold;
	
}

h4{
	color: navy;
	font-size: 60%;
}

.big{

}

img{
	
	height: 360;
	width: 480;
}

div{
	
	margin-left: auto;
	margin-right: auto;
}


p{

	color: navy;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	
}


}
a:link {
    color: #333399;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: #F5F5DC;
}


table {
    border: none;

    border-collapse: collapse;
    
    table-layout: auto; 
	
}

th{
    
    border: 1px solid black;
	width: 20px;
	padding: 1px;
	color: navy;
}


td {
    
    border: none
	
}




.contents
{

background-color : #efefd3;

}

div.contents
{
width: 300px;
height: 30px;
text-align: center ;
 margin-left: auto ;
 margin-right: auto ;
}



table.contents {
    border-collapse: collapse;

}

table.contents, th.contents, td.contents {
    
    border: 1px solid black;
    padding: 3px;
	
}

li.links {
	display: inline;
}

ul.links {
padding: 10;
}

